[Install]
WantedBy=smbd.service

[Unit]
Description=WSD/LLMNR Discovery/Name Service Daemon
PartOf=smbd.service

[Service]
ExecStart=/usr/sbin/wsdd2
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
